__pycache__/
*.pyc
.venv/
node_modules/
frontend/dist/
.env
mlruns/
mlflow/
/data/raw
/data/processed
/models/*
!/models/.gitkeep
*.onnx
*.pt
!/models/*.dvc
!/models/.gitignore
!/models/classes.txt
!/models/inference_config.json
!/models/metrics.json!/models/*.dvc
!/models/metrics.json
!/models/benchmark_local.json
